@import url(../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
@import url(../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
@import "tailwindcss";

@theme {
    --font-DMSans-Italic: "DMSans-Italic"; 
    --font-DMSans-VariableFont_opsz: "DMSans";

    --color-Purple100: hsl(254, 88%, 90%);
    --color-Purple500: hsl(256, 67%, 59%);
    
    --color-Yellow100: hsl(31, 66%, 93%);
    --color-Yellow500: hsl(39, 100%, 71%);

    --color-Black007: hsl(0, 0%, 7%);
}